<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/event_view_profile_get/">view profile</a><br>
<a href="/myapp/event_change_password_get/">change password</a><br>
<a href="/myapp/event_add_event_get/">add  event</a><br>
<a href="/myapp/event_view_event_get/">view  event</a><br>
<a href="/myapp/event_view_booking_get/">view  booking accept or reject </a><br>
<a href="/myapp/event_view_booking_get/">view  accepted booking </a><br>
<a href="/myapp/event_rejected_booking_get/">view  rejected booking </a><br>
<a href="/myapp/event_view_payment_get/">view  payment </a><br>
<a href="/myapp/event_view_feedback_get/">view  feedback </a><br>
<a href="/myapp/event_generate_certificate_get/">add certificate</a><br>
<a href="/myapp/Logout/"> Logout </a><br><br>

</body>
</html>