<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/myapp/add_activitypoint_get/">Add activity point</a><br>
<a href="/myapp/view_activitypoint_get/">View activity point</a><br><br>

<a href="/myapp/add_eventdetails_report_get/">Add Event Report</a><br>
<a href="/myapp/view_eventdetails_report_get/">View Event Report</a><br><br>

<a href="/myapp/add_ticket_get/">Add Tickett</a><br>
<a href="/myapp/view_ticket_get/">View Ticket</a><br><br>

<a href="/myapp/view_coordinator_get/">View Coordinator</a><br><br>

<a href="/myapp/view_approvedcoordinator_get/">View Approved Coordinator</a><br><br>

<a href="/myapp/view_rejectedcoordinator_get/">View Rejected Coordinator</a><br><br>

<a href="/myapp/view_complaint_get/">View Complaint</a><br><br>

<a href="/myapp/view_events_get/">View Events</a><br><br>

<a href="/myapp/view_feedback_get/">View feedback</a><br><br>

<a href="/myapp/view_notification_get/">View notification</a><br><br>

<a href="/myapp/view_issuedcertificate_get/">View certificate</a><br><br>

<a href="/myapp/view_payment_get/">View payment</a><br><br>

<a href="/myapp/view_student_get/">View student</a><br><br>
<a href="/myapp/changepassword_get/"> change password</a><br><br>
<a href="/myapp/Logout/"> Logout </a><br><br>




</body>
</html>