<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
{% extends 'admin/admin_index.html' %}
{% block body %}

<form id="form1" name="form1" method="post" action="/myapp/view_eventdetails_report_post/">
{% csrf_token %}
  <table class="table table-bordered">
    <tr>
      <td>From</td>
      <td><label for="textfield"></label>
      <input type="date" name="textfield" id="textfield"class="form-control" /></td>
      <td>To</td>
      <td><label for="textfield2"></label>
      <input type="date" name="textfield2" id="textfield2"class="form-control" /></td>
      <td><input type="submit" name="button" id="button" value="Search" class="btn btn-success" /></td>
    </tr>
  </table>
  <table class="table table-bordered">
    <tr>
      <td>SI No</td>
      <td>Event Name</td>
      <td>Date</td>
      <td>Duration</td>
      <td>College Name</td>
      <td>Venue</td>
      <td>Coordinator Name</td>
      <td>Report</td>
      <td>Coordinator</td>
{#      <td>Action</td>#}

    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>{{ i.EVENT_DETAILS.event_name }}</td>
      <td>&nbsp;{{ i.date }}</td>
      <td>&nbsp;{{ i.EVENT_DETAILS.duration }}</td>
      <td>&nbsp;{{ i.EVENT_DETAILS.College_name}}</td>
      <td>&nbsp;{{ i.EVENT_DETAILS.venue }}</td>
      <td>&nbsp;{{ i.EVENT_COORDINATOR.name }}</td>
      <td>{{ i.report }}</td>
      <td>{{ i.EVENT_COORDINATOR.name }}</td>

{#        <td><a href="myapp/edit_eventdetails_report_get/">Edit</a></td>#}
{#        <td><a href="/myapp/delete_eventdetails_report/{{ i.id }}" onclick="return confirm('are you sure')">Delete</a></td>#}


    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
{% endblock %}

</body>
</html>
