<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
{% extends 'admin/admin_index.html' %}
{% block body %}

<form id="form1" name="form1" method="post" action="/myapp/view_coordinator_post/">
{% csrf_token %}
  <table width="200" border="1"class="table table-bordered">
    <tr>
      <td><label for="textfield"required class="form-control"></label>
      <input type="text" name="textfield" id="textfield"required class="form-control" /></td>
      <td><input type="submit" name="button" id="button" value="Search" class="btn btn-success"/></td>
    </tr>
  </table>
  <table width="200" border="1"class="table table-bordered">
    <tr>
      <td>SI No</td>
      <td>Name</td>
      <td>Contact</td>
      <td>Address</td>
      <td>DOB</td>
      <td>Gender</td>
      <td>Photo</td>
      <td>Status</td>
       <td>Accept</td>
      <td>Reject</td>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>{{ i.name }}</td>
      <td>{{ i.email }}<br>{{ i.phone }}</td>
      <td>&nbsp;{{ i.place }}<br>{{ i.post }}<br>{{ i.pin }}<br>{{ i.district }}</td>
      <td>{{ i.dob }}</td>
      <td>{{ i.gender }}&nbsp;</td>
      <td><img src="{{ i.photo }}"height="100" width="100" </td>
        <td>{{ i.status }}&nbsp;</td>
      <td><a href="/myapp/approve_coordinator/{{ i.LOGIN.id }}"class="btn btn-primary">Accept</a></td>
      <td><a href="/myapp/reject_coordinator/{{ i.LOGIN.id }}"class="btn btn-danger">Reject</a></td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
{% endblock %}

</body>
</html>
